
body {
  font-family: 'Lato', sans-serif;
  background-image: url('http://themes.googleusercontent.com/image?id=1SBilrALlXIPLRAelrnhYjgFyYa09ZeL8cdktIYuaRwQ3kEvcEX-Xz1NjKkrLjtsPxmc7');
  background-position: center top;
  background-size: cover;
  margin: 20;
}


.personalInfo {
  text-align: center;
  font-weight: 100;
  line-height: 10;
}
