
body {
  width: 750px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Didot', sans-serif;
  background-image: url('http://themes.googleusercontent.com/image?id=1SBilrALlXIPLRAelrnhYjgFyYa09ZeL8cdktIYuaRwQ3kEvcEX-Xz1NjKkrLjtsPxmc7');
  background-position: center top;
  background-size: cover;
  margin: 20;
}

.profilePic {
  display: block;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

.personalInfo {
  text-align: right;
  font-weight: 100;
  line-height: .25;
  margin-bottom: 80px;
}

.name {
  margin-bottom: 30px;
}
